@charset "UTF-8";
html, body { height: 100%; }
ul, ol { list-style: none; margin: 0;}
a { color: #666666; }

/* ul li:nth-child(odd) {
  color: red;
} */

li {
  min=height: 20px;
  line-height: 20px;
  border: 1px solid blue;
}
