@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* html, body { height: 100%; } */

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666666;
}

a { color: #666666; } /*#666;(축약형) 6자리가 다 같을때 이렇게 축약해서 사용가능*/


#wrap {
  /* 전체를 이렇게 wrap으로 감싸면 언제든지 크기와 색을 바꿀 수 있다.(블럭요소라서)
  브라우저를 전체적으로 쓰는 경우는 전체를 감싸지 않는다.*/
  width: 960px;
  margin: 0 auto;
}

#main-header {
  position: relative;
  height: 160px;
}

#main-header > #title {  /* #title {} 이라고 써도 됨 */
  position: absolute; /* 기존의 위치 그대로 가지는 absolute */
  top: 30px;
  left: 20px;/*메인헤더의 기준*/
}

/* gnb, lnb common style */
#main-header > nav > ul > li > a {
  display: block;
  padding: 2px 10px;  /* 클릭하는 영역이 너무 작기때문에 패딩값으로 넓히려는것 */
  border: 1px solid #f1f1f1;
}

#main-header > nav > ul > li > a:hover { /* 가상요소 hover: 마우스를 영역에 올렸을 때 다음 속성과 같이 변하게 함*/
  background: #f1f1f1;
  color: #333;
}

#main-gnb {
  position: absolute;/* absolute로 작용되니 부모영역인 main-header에 relative포지션을 줌 */
  right: 0;
  top: 0;  /* 오른쪽탑으로 쫙 붙여줌 */
}

/* main-gnb, main-lnb common style */
#main-header > nav > ul > li:first-child > a { border-radius: 10px 0 0 10px; }/* border-radius: top-left기준으로 시계방향 */
#main-header > nav > ul > li:last-child > a { border-radius: 0 10px 10px 0; }
#main-header > nav > ul { overflow: hidden; }
#main-header > nav > ul > li { float: left; }
/* 공통으로 들어가기 때문에 nav에 #주지않았음 */

/* main-gnb */
#main-header > nav#main-gnb > ul > li > a {
  border-right-width: 0; /* 메뉴 오른쪽 border들 겹침 그걸 없애주는 작업.  border-right:0; 하면 color등 모든 스타일을 지우는거기 때문에 따로 줘야함*/
}

#main-header > nav#main-gnb > ul > li:last-child > a {
  border-right-width: 1px;   /* 마지막 메뉴 오른쪽 border살리는 작업 */
}

/* main-lnb */
#main-header > #main-lnb {
  position: absolute;
  right: 0;
  bottom: 10px;   /* 밑에 tab영역이랑 딱 붙는거 방지용으로 조금 띄어줌 */
}
#main-header > nav#main-lnb > ul > li > a {
  border-color: #c9c9c9; }

/* content area */
#content { overflow: hidden; }
#content #main-section {
  float: left;
  width: calc( 100% - 210px );
  /* width: calc( 100% - 210px ); float:right했을때 10px공백이 생기게 됨*/
}

#content #main-section > article.main-article {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #f1f1f1;
}

/* aside영역 */
#content #main-aside {
  float: right;
  /* content영역과 aside영역 사이의 공백을 만들어 주기 위해 left->right 하고 위에 width수정 */
  width: 200px;
  /* background: skyblue; */
}

input { display : none; } /*버튼은 안보여도되고 레이블만 나오면 됨*/

/* 1번 tab */
input:nth-of-type(1) ~ div:nth-of-type(1) { display:none; }
/* 체크가 안되어있을때 안나와야하니까 none */
/* 태그가 다양하거나 중간에 뭐 들어올수 있으니 형태구조선택자 사용하는 것이 좋다 */
input:nth-of-type(1):checked ~ div:nth-of-type(1) { display: block; }

/* 2번 tab */
input:nth-of-type(2) ~ div:nth-of-type(2) { display:none; }
input:nth-of-type(2):checked ~ div:nth-of-type(2) { display: block; }

/* tab style */
section.buttons { overflow: hidden; }
section.buttons > label {
  display: block;
  float: left; /*HTML5 CSS3 사이에 간격이 사라짐. 불필요한 공백 없앰*/
  width: 100px;
  height: 30px;
  line-height: 30px; /* 가운데정렬 */
  text-align: center;
  /* border-style */
  border: 1px solid #f1f1f1;
  box-sizing: border-box;  /* 너비값에 오버되지 않게 하기위해 */
  background: white;
  color: black;
}

  /* 탭 버튼 활성화(박스를 클릭했을때 색 바뀌게) */
input:nth-of-type(1):checked ~ section.buttons > label:nth-of-type(1) {
  background: black;
  color: white;
}
input:nth-of-type(2):checked ~ section.buttons > label:nth-of-type(2) {
  background: black;
  color: white;
}

/* list area */
.item {
  overflow: hidden;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-top: 0;
}

.thumbnail {
  float: left;
}

.description {
  float: left;
  margin-left: 10px;
}

.description > strong {
  display: block;
  width: 120px;
  /* 말줄임 스타일 */
  white-space: nowrap;
  text-overflow: ellipsis; /* 흘러넘친거 말줄임 하겠다 */
  overflow: hidden; /*넘친거 자르기*/
  /* nowrap하면 그냥 옆으로 쭉 뻗어 나가버림, 원하는 공간사이에 넣으려면 hidden 일렉시스해줘야함 */
  /* 단어와단어 사이의 공백을 없애겠다 */
}

#main-footer {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
  text-align: center;
}
