/* 이 사이트에만 해당되는 초기화시키기
style파일에서 초기화하는거 분리해서 파일 하나 새로 만들어서 관리 */
@charset "UTF-8";
html, body { height: 100%; }
h1, h2, h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #333333;
 }

a:hover {
  color: #111111;
}
