@charset "UTF-8";
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { height: 100%; }
ul, ol { list-style: none; }
a { color: #666; text-decoration: none; }

ul {
  display: flex;
  margin-bottom: 20px;
}

a.on {
  border: 2px solid red;
}

ul li a {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  overflow: hidden;
  text-indent: -9999px; /* 텍스트 들여쓰기 */
  /* 이미지 사이즈 설정*/
  width: 30px;
  height: 30px;
  /* background: grey; */
  background-size: cover;
}

ul li:nth-child(1) a {
  background-image: url('../img/img01.jpg');
}
ul li:nth-child(2) a {
  background-image: url('../img/img02.jpg');
}
ul li:nth-child(3) a {
  background-image: url('../img/img03.jpg');
}


/* text 형태 메뉴 사용 시 적용 */
ul li.txt a {
  border: none;
}

ul li.txt a.on:after {
  /* border-bottom: 2px solid red; 이거쓰면 글자가 튀게됨*/
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  /* width: 100%; 랑 같음. 옆으로 쫙 늘리는 효과*/
  bottom: 0;
  height: 2px;
  background: red;
}

ul li.txt a {
  text-indent: 0px;
  width: auto;
}

ul li.txt:nth-child(1) a, ul li:nth-child(2) a, ul li:nth-child(3) a {
  /*구조선택자가 우선순위 높기때문에 위에랑 똑같이 구조선택자 써줘야 먹힘  */
  background-image: none;
}
