@charset "UTF-8";

body { background:#f5f6f7; }
title {
  margin: 0 auto;
}

#wrap {
  background: #f5f6f7;
  margin: 0 auto;
  max-width: 768px;
  min-width: 468px;
  /*이 최소값을 전체를 감싸는 곳에 넣어 주어야 한다.*/
}

#wrap h1 {
  padding: 60px 0 20px;
  text-align: center;
  color: #03c75a;
}

form {
  table-layout: fixed;
  border-collapse: collapse;
  width: auto;
  max-width: 768px;
  height: 742px;
}

form dt {
  padding-left: 34px;
  line-height: 21px;
}
/* 체크박스 style */
input[type=checkbox] {
  /* display: none; */
  /* background-color: green; */
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 5px 0 0 12px;
  background-image: url('../img/small_ck.png');
  background-position:center;
  background-size: 100% 100%;
}

input[type=checkbox]:checked + label:after {
  content: '';
  position: absolute;
  display: inline-block;
  background-image: url('../img/small_ck_green.png');
  background-position: center;
  background-size: 100% 100%;
  background-color: red;
}

/* font style */
form dt span {
  font-size: 15px;
  font-weight: bold;
}

form dt span.check-item {
  font-weight: normal;
  color: #8E8E8E;
  font-size: 12px;
}

form dt span.check-item.important {
  color: #08A600;
}

footer {
  background-color: #f5f6f7;
  text-align: center;
  font-weight: none;
  overflow: hidden;
}

footer ul li a {
  float: left;
}

/* button style */
button {
  width: 225px;
  height: 51px;
  text-align: center;
  color: #ffffff;
  border-style: none;
}

button[type=reset]  { background: #8E8E8E; }

button[type=submit] { background: #03C75A; }
