@charset "UTF-8";

body { background:#f5f6f7; }
title {
  margin: 0 auto;
}

#wrap {
  background: #f5f6f7;
  margin: 0 auto;
  max-width: 460px;
  min-height: 709px;
  /*이 최소값을 전체를 감싸는 곳에 넣어 주어야 한다.*/
}

#wrap h1 {
  padding: 60px 0 20px;
  text-align: center;
  color: #03c75a;
}

/* 텍스트 밑줄 */
.firstspan {
  text-decoration: underline;
}
/* 스크롤 텍스트 박스 */
.terms-box {
  overflow: scroll;
  width: 460px;
  height: 88px;
  background: white;
  padding: 12px;
  margin-top: 14px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  color: #666666;
}
.terms-box span {
  font-weight: bold;
}

/* 마지막 약관동의 텍스트 style */
.last-p {
  font-size: 12px;
  line-height: 14px;
  padding-top: 10px;
  color: #666666;
}

form {
  table-layout: fixed;
  border-collapse: collapse;
  width: auto;
  max-width: 768px;
  height: 742px;
}

form dt {
  line-height: 21px;
}

/* 체크박스 style */
input[type=checkbox] {
  /* display: none; */
}

input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  background: #f5f6f7;
  background-image: url('../img/small_ck.png');
  background-position:center;
  background-size: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

input[type=checkbox]:checked + label {
  content: '';
  position: absolute;
  display: inline-block;
  background-image: url('../img/small_ck_green.png');
  /* background-position: center; */
  background-size: 100% 100%;
}

/* 첫번째 체크박스 큰 ver */
input[type=checkbox].ck-big {
  /* display: none; */
}

input[type=checkbox].ck-big + label {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 50%;
  background: #f5f6f7;
  background-image: url('../img/small_ck.png');
  background-position:center;
  background-size: 100%;
  cursor: pointer;
}

input[type=checkbox].ck-big:checked + label {
  content: '';
  position: absolute;
  display: inline-block;
  background-image: url('../img/small_ck_green.png');
  /* background-position: center; */
  background-size: 100% 100%;
  /* background-color: red; */
}

/* font style */
form dt span {
  font-size: 15px;
  /* font-weight: bold; */
}

form dt span.check-item {
  font-weight: normal;
  color: #8E8E8E;
  font-size: 12px;
}

form dt span.check-item.important {
  color: #08A600;
}

footer {
  background-color: #f5f6f7;
  text-align: center;
  font-weight: none;
  overflow: hidden;
}

footer ul li a {
  float: left;
}

/* button style */
button {
  width: 225px;
  height: 51px;
  text-align: center;
  color: #ffffff;
  border-style: none;
}

button[type=reset]  { background: #8E8E8E; }

button[type=submit] { background: #03C75A; }


/* 어린이용 안내 버튼 */
button#child {
  width: 91.91px;
  height: 28px;
  right: 0;
  border: 1px solid #08A600;
  font-size: 12px;
  background-color: white;
}

button#child a {
  color: #08A600;
}
