@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* { margin: 0; padding:0; }
html, body { height: 100%; }

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  background-color: #e1f2e4;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 15px black;
  font-family: 'Jua', sans-serif;
}

#txt-wrap {
  position: relative;
  /* top: 120px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 세로로배열 */
  width: 100vw;
  height: 100vh;
  /* line-height: 100px; */
}
#txt-wrap #txt p {
color: #bff2f2;
}

/* 자리비움 text */
h3 {
  color: #ffadad;
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: normal;
}
#txt {
  text-align: center;
}
#txt p {
  line-height: 100px;
}

#input-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 300px;
  background-color: transparent; /* 배경투명하게 */
}

/* 오늘날짜 date style */
.date {
  font-size: 25px;
  /* text-shadow: 0 0 5px black; */
  text-shadow: none;
  font-weight: normal;
  color: white;
}

/* 버튼style */
#txt-btn {
  margin: 20px;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
  background-color:#c9c9c9;
  color: #fff;
  cursor: pointer;
  transition: all 0.9s;
}
#txt-btn:hover {
  box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset, 0 -80px 0 0 rgba(0,0,0,0.25) inset;

}

/* media query */
@media screen and (max-width: 900px ) {
  body { background-size: 100%; }
}
